<ion-content class="ion-padding">
  <ion-input clearOnEdit="true" class="ion-margin-top" fill="outline" labelPlacement="stacked" label="Nombre" type="text" placeholder="Ingresa el nombre"></ion-input>
  <ion-input clearOnEdit="true" class="ion-margin-top" fill="outline" labelPlacement="stacked" label="Apellido" type="text" placeholder="Ingresa una descripción"></ion-input>
  <ion-input clearOnEdit="true" class="ion-margin-top" fill="outline" labelPlacement="stacked" label="Edad" type="number" placeholder="Precio"></ion-input>
  <ion-input clearInput="true" class="ion-margin-top" fill="outline" labelPlacement="floating" label="Imagen" type="text" placeholder="Ingresa la url img"></ion-input>
  <ion-button class="ion-margin-top" expand="block" shape="round">
    Agregar
</ion-button>
</ion-content>
